@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@500&family=Merriweather+Sans:ital,wght@0,400;1,500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(219, 36, 36, 0);
  transition: 0.5s !important;
  scroll-behavior: smooth !important;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-family: 'Roboto', sans-serif; */

  /* font-family: 'Bungee', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Open Sans', sans-serif; */

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  /* background-color: #fff; */
  transition: 0.5s;
  scroll-behavior: smooth;

  /* background: #005AA7;  
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  
  background: linear-gradient(to right, #FFFDE4, #005AA7);  */
  /* background: #0f0c29; */
  /* background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); */

  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */


 background: var(--primary-background-color);

}

.intro {
  color: var(--primary-text-color);
}


.quote {
  color: rgb(162, 160, 163);
  margin-top: 20px;
  font-weight: 700;
}
.about-btn{
  display: flex;
  -webkit-box-pack: start;
  justify-content: start;
  font-weight: 800;
}

.resume-btn{
  font-weight: 800;
}

.rounded{
  
  background-color: #1c5ce6;
  height: 400px;
  width: 400px;
  border-radius: 50% !important;
  position: absolute;

  
}

.striked {
  text-decoration: line-through;
}
.react {
  background-color: #05256e;
  color: rgb(80, 207, 219);
  padding: 6px;
  border-radius: 5px;
  font-weight: 900;
}
.node {
  background-color: #1a5520;
  color: rgb(251, 250, 250);
  padding: 6px;
  border-radius: 5px;
  font-weight: 900;
}
.express {
  background-color: #fcfcfc;
  color: #000;
  padding: 6px;
  border-radius: 5px;
  font-weight: 900;
}
.mongo {
  background-color: #6d4848;
  color: rgb(83, 228, 93);
  padding: 6px;
  border-radius: 5px;
  font-weight: 900;
}
.mongo-img > img {
  width: 30px;
  height: 30px;
}

.myname {


  /* font-family: 'Acme', sans-serif; */
  /* font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif; */
  font-weight: 900;
  font-size: 100px;
  /* font-size: 86px; */
  display: inline-block;
  position: relative;
  color: var(--primary-text-color);
}

.myname:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--name-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.myname:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.myname1 {
  font-weight: 1000;
  /* font-size: 86px; */
  font-size: 100px;
  display: inline-block;
  position: relative;
  color: var(--primary-text-color);
}

.myname1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--name-color);
  transform-origin: bottom left;
  transition: transform 0.25s ease-in;
}

.myname1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.name-role{
  display: flex;
  align-items: center;
}

.my-role{
  display: flex;
  flex-direction: column;
  font-size: 35px;
  position:relative;
  top: 12px;
  left:20px;
  font-weight: 900;
  /* color:#2f8dac !important;  */
  /* color:#5309e8 !important;  */
  color:var(--role-color) !important; 

}
@media (max-width: 995px) {
  .name-role{
    justify-content: center;
  }
}

@media (max-width: 520px) {
  .my-role{
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .my-role{
    /* font-size: 35px;
    margin-right: 30px; */
    display: none;
  }.name-role{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
   .name-role{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   }
}

@media (max-width: 520px) {
  .intro {
    margin-top: 20px;
  }
  .myname,
  .myname1 {
    font-size: 75px;
  }
}

@media (max-width: 440px) {
  .intro {
    margin-top: 20px;
  }
  .myname,
  .myname1 {
    font-size: 65px;
  }
}

@media (max-width: 400px) {
  .intro {
    margin-top: 20px;
  }
  .myname,
  .myname1 {
    font-size: 60px;
  }
}

@media (max-width: 410px) {
  .about-head,
  .cert-head,
  .skills-head,
  .project-head,
  .contact-head {
    font-size: 55px !important;
  }
}

/*FOR THEME*/
.theme {
  position: absolute;
  top: 25px;
  right: 140px;
}
.theme-selector {
  position: fixed;
  padding: 3px;
  border-radius: 50x;
  background-color: #000;
  color: #fff;
  z-index: 1;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
  background-color: #ff0000;
  opacity: 0.3;
}

a {
  color: #0bceaf;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}

h1,
h2,
h3,
h5,
h6,
p {
  /* color: #020202 !important; */
  color: var(--primary-text-color) !important;
}

/* .faded-1 {
  height: 7.4rem;
  background-image: linear-gradient(
    360deg,
    transparent,
    rgba(8, 8, 8, 0.55),
    #000
  );
  margin-bottom: 50px;
} */

.faded-1 {
  height: 7.4rem;
  background-image: linear-gradient(
    360deg,
    transparent,
    rgba(8, 8, 8, 0.55),
    #000
  );
}

.faded-2 {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(8, 8, 8, 0.55),
    #000
  );
  margin-top: 20px;
}

.header {
  /* background: #0f0c29; */
  /* background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  position: relative;
  /* background: var(--secondary-background-color); */
  /* background-image: url('/img/universe.webp'); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/star1.webp');
  background-color: #000;
}

@media (max-width: 600px) {
  .header-btn {
    flex-direction: column !important;
  }
  .resume-btn {
    margin-top: 20px;
  }
  .display-1 {
    font-size: 65px;
  }
}

.footer {
  /* background-color: #414e58; */
  background-color: #000;
  z-index: 101;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  backdrop-filter: blur(0.1px) !important;
  padding: 2px !important;
  background-color: rgba(0, 0, 0, 0.747) !important;
}

/********** Template CSS ************/

.text-stroke-header {
  -webkit-text-stroke: 3px #ffffff;
  color: transparent;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
  border: none;
}
.btn:hover {
  background-color: #343a40;
  border: solid #343a40;
  color: #fff;
}
.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 25px;
}

/* ================ Navigation Menu ====================*/

.navbar-light {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0bceaf;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

/*===================== Hero section ======================*/
.hover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.hover h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover h1::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--hover-color);
  z-index: -1;
  transition: transform 0.3s ease;
}

.hover h1 {
  position: relative;
  font-size: 60px;
  font-weight: 1000;
  margin-bottom: 20px;
}

/* .section {
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .bg1 {
  background-color: #ccc;
} */
/* .revealUp {
  opacity: 0;
  visibility: hidden;
}

.section>h1{
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
} */

#about {
  transition: 0.5s;
  scroll-behavior: smooth;
  
}
.about-sec {
  color: var(--secondary-text-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--about-sec-color); */
  border-radius: 10px;
  padding: 30px;
  /* border: var(--about-sec-border-color) 5px solid; */
  font-weight: 800;
}

/* .about-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
} */

.info-label {
  color: var(--secondary-text-color);
}
.info-txt {
  color: var(--primary-text-color);

}
.about-sec>div>h3{
  background-color: #fff;
  color:#000 !important;
  text-align: center;
  font-size:30px;
  font-weight: 900;
  padding:10px;
}
.about-sec>div>p{
  line-height: 200%;
}


/* .about-sec:hover {
  
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: 1s ease;
} */

/* .about-sec::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
}

.about-sec:hover::before {
  animation: animate 1.5s linear forwards;
  
}

@keyframes animate {
  0% {
      width: 0;
      height: 0;
      border-top-color: rgb(25, 210, 234);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  }

  50% {
      width: 100%;
      height: 0;
      border-top-color: rgb(25, 210, 234);
      border-right-color: rgb(25, 210, 234);
      border-bottom-color: transparent;
      border-left-color: transparent;
  }

  100% {
      width: 100%;
      height: 100%;
      border-top-color:rgb(25, 210, 234);
      border-right-color: rgb(25, 210, 234);
      border-bottom-color: transparent;
      border-left-color: transparent;
  }
}

.about-sec::after {

  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid transparent;
  
}

.about-sec:hover::after {
  animation: animates 1.5s forwards;
}

@keyframes animates {
  0% {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #fff;
  }

  50% {
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #fff;
      border-left-color: #fff;
  }

  100% {
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #fff;
      border-left-color: #fff;
  }
} */

.about-img {
  margin-left: -100px;
  right: -60px;
  margin-top: 30px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1.5s ease;
}
.about-img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.display-1 {
  font-size: 60px;
  font-weight: 1000;
  /* color: #000; */
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}

.position-absolute {
  font-weight: 700;
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.blue {
  background-color: #1c5ce6;
  color: #ffffff;
}
.btn {
  border: 2px solid rgb(29, 105, 247);
}
.btn-white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.btn-blue {
  border: 2.4px solid #ffffff;
  color: #ffffff;
}
@media (max-width: 700px) {
  .about-img {
    margin-left: 20px;
    right: 0px;
    top: 30px;
  }
  .about-img img{
    margin-left: none;
  }
}
/*===================== Progress Bar ====================*/

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

/* =================== Skills======================*/
.all-skills {
  flex-direction: column;
  margin-bottom: 50px;
  color: #fff;
}
.skill-tag {
  transition: 0.3s;
  transform: scale(1);
}

.skill-tag:hover {
  transform: scale(1.1);
}

.skill-tag-react {
  background-color: rgb(33, 54, 170);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(20, 202, 234) !important;
}
.skill-tag-node {
  background-color: rgb(34, 120, 31);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
}
.skill-tag-mongo {
  background-color: rgb(114, 64, 64);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(56, 224, 37) !important;
}
.skill-tag-mysql {
  background-color: rgb(231, 87, 221);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
}
.skill-tag-python {
  background-color: rgb(29, 37, 141);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(207, 241, 14) !important;
}
.skill-tag-html {
  background-color: rgb(221, 74, 44);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(254, 254, 254) !important;
}
.skill-tag-css {
  background-color: rgb(37, 23, 228);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(240, 246, 239) !important;
}
.skill-tag-javascript {
  background-color: rgb(248, 236, 9);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(10, 10, 10) !important;
}
.skill-tag-restapi {
  background-color: rgb(116, 197, 201);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
}
.skill-tag-unix {
  background-color: rgb(243, 247, 242);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(5, 84, 2) !important;
}
.skill-tag-c {
  background-color: rgb(70, 124, 215);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color: rgb(245, 247, 245) !important;
}
.skill-tag-ps {
  background-color: rgb(168, 160, 40);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
}
.skill-tag-git{
  background-color: rgb(210, 81, 52);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color:rgb(18, 18, 18) !important;
}

.skill-tag-github{
  background-color: rgb(3, 3, 3);
  padding: 16px;
  border-radius: 10px;
  margin: 3px;
  font-weight:1000;
  color:rgb(252, 252, 252) !important;
}
@media screen and (max-width: 700px) {
  .skill-tag-react,
  .skill-tag-node,
  .skill-tag-mongo,
  .skill-tag-mysql,
  .skill-tag-python,
  .skill-tag-html,
  .skill-tag-css,
  .skill-tag-javascript,
  .skill-tag-restapi,
  .skill-tag-unix,
  .skill-tag-c,
  .skill-tag-ps,
  .skill-tag-git{
    padding:10px;
    font-weight: 1000;
  }
}
@media screen and (max-width: 435px) {
  .skill-tag-react,
  .skill-tag-node,
  .skill-tag-mongo,
  .skill-tag-mysql,
  .skill-tag-python,
  .skill-tag-html,
  .skill-tag-css,
  .skill-tag-javascript,
  .skill-tag-restapi,
  .skill-tag-unix,
  .skill-tag-c,
  .skill-tag-ps,
  .skill-tag-git{
    padding:8px;
    font-weight: 700;
  }
}
@media screen and (max-width: 410px) {
  .skill-tag-react,
  .skill-tag-node,
  .skill-tag-mongo,
  .skill-tag-mysql,
  .skill-tag-python,
  .skill-tag-html,
  .skill-tag-css,
  .skill-tag-javascript,
  .skill-tag-restapi,
  .skill-tag-unix,
  .skill-tag-c,
  .skill-tag-ps,
  .skill-tag-git{
    padding:8px;
    font-weight: 700;
  }
}
/* =================== Quality ======================*/
.ex-me {
  margin-top: 35px;
}

/* =================== Portfolio section ==================*/

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: 0.5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}

/* ========================== Certification section ========================*/

.certificate {
  height: 400px;
  width: 600px;
  overflow: hidden;
  position: relative;
}
.certificate .cert-img {
  /* position: relative; */
  height: 100%;
  width: 100%;
  /* margin:0;
  left: 0; */
  display: inline-flex;
  transition: 0.7s;
  /* animation: 5s certificate infinite; */
}
.cert-img img {
  height: 100%;
  width: 100%;
  /* float: left;   */
}
.btm-sliders {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  transform: translate(-50%);
  text-align: center;
}
.btm-sliders span {
  height: 5px;
  width: 5px;
  background-color: #0bceaf;
  border: 2px solid #fff;
  margin: 0 3px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.btm-sliders span:hover {
  background-color: #fff;
}
.certificate .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 45px;
  border: 2px solid #0bceaf;
  cursor: pointer;
}
.certificate .right {
  right: 0;
}
.slide span {
  font-size: 30px;
  line-height: 40px;
}
.certificate .slide:hover {
  background-color: #fff;
  color: #0bceaf;
}
@media screen and (max-width: 650px) {
  .certificate {
    height: 350px;
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .certificate {
    height: 320px;
    width: 450px;
  }
}
@keyframes certificate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
}
.certificates {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.all-cert {
  width: 800px;
  transition: 1s;
}
.cert:hover {
  /* box-shadow: 5px 5px 10px #888888;
   transition: 1.5s; */
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: 1s ease;
}
.cert {
  box-shadow: 5px 10px 18px #888888;
  transition: 1s ease;
}

.prev,
.next {
  width: 40px;
  height: 30px;
  top: 50%;
  background: #000;
  /* background: rgb(58, 14, 237);
  background: linear-gradient(
    90deg,
    rgba(58, 14, 237, 1) 4%,
    rgba(89, 23, 175, 1) 100%
  ); */
}
@media screen and (max-width: 950px) {
  .all-cert {
    width: 750px;
    height: 650px;
  }
}
@media screen and (max-width: 820px) {
  .all-cert {
    width: 700px;
    height: 600px;
  }
}
@media screen and (max-width: 750px) {
  .all-cert {
    width: 600px;
    height: 500px;
  }
}

@media screen and (max-width: 650px) {
  .all-cert {
    width: 500px;
    height: 400px;
  }
}
@media screen and (max-width: 550px) {
  .all-cert {
    width: 450px;
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .all-cert {
    width: 400px;
    height: 300px;
  }
}
/* ========================== Project section ========================*/

.project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 30px;
  width: 90%;
  max-height: 800px;
  overflow: scroll;
  box-shadow: 5px 10px 18px #888888;
}

.project {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  transition: 0.5s;
  text-align: center;
}
.img-container{
  max-width: 100%;
  max-height: 100%;
}
.project:hover {
  transform: scale(1.08);
}
.proj-img {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 5px 10px 18px #888888;
  
}

/* .all-proj-info-container{
  width:850px;
} */

/* .proj-slide{
  width: 700px;
}
.project-info{
  width: 800px;
  background-color: #0bceaf;
}
.single-proj-pic{

}

.prev-proj-img{
  width: 40px;
  height: 30px;
  top: 50%;
  left:0;
  background: #000;
}
.next-proj-img{
  width: 40px;
  height: 30px;
  top: 50%;
  right:0;
  background: #000;
} */
/* ========================== Contact Us ========================*/

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .input:hover{
  border: 1px solid rgb(47, 237, 251);
} */
.input {
  background-color: rgb(199, 197, 197);
  color: rgb(74, 69, 69) !important;
}
.input:hover {
  outline: none !important;
  box-shadow: 3px 3px 5px #719ece;
}

/*====================== Back to buttom ==================*/

.scroll-to-bottom {
  position: fixed;
  width: 20px;
  left: calc(50% - 10px);
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 4s infinite alternate;
}
.container {
  transition: 0.5s !important;
  scroll-behavior: smooth !important;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.footer-logo{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-logo img{
   width:100px;
   height: 100px;
   border-radius: 30px;
   margin: 30px;
}

.footer-logo h4,.footer-logo>p{
  font-weight: 800;
}