
:root{
    --primary-background-color:linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    --primary-text-color: #fff;
    --secondary-text-color: rgb(78, 75, 75);
    --name-color: rgb(223, 230, 39);
    --hover-color: rgb(168, 199, 44);
    --about-sec-color: rgb(123, 160, 49);
    --about-sec-border-color:rgb(237, 240, 235);
    --role-color:rgb(123, 160, 49);
}